:root {
    --alto-a: 1080px;
    --alto-b: 1080px;
    --alto-c: 390px;
    --alto: 2550px;
    --ancho: 1920px;
    --ancho: 99.78%;
}

.container {
    border: 2px solid red;
    width: 119.813rem;
    height: var(--alto);
    max-width: 100%;
    display: flex;
    flex-direction: column;
    position: relative;
}

.container-a {
    border: 2px solid sandybrown;
    width: var(--ancho);
    height: var(--alto-a);
    max-width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    left: 0;
    top: 0;
}

.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 73.125rem;
    margin-top: 56px;
}

.container-b {
    border: 2px solid purple;
    width: 119.5rem;
    height: var(--alto-b);
    max-width: 100%;
    position: absolute;
    left: 0;
    top: 1081px;
}

.container-c {
    border: 1px solid cyan;
    width: var(--ancho);
    height: var(--alto-c);
    max-width: 100%;
    position: absolute;
    left: 0;
    top: 2160px;
}