.App {
	font-family: 'Inter';
	max-width: 100vw;
	overflow-x: hidden;
}

.App-logo {
	height: 40vmin;
	pointer-events: none;
}


.App-header {
	background-color: #282c34;
	min-height: 100vh;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	font-size: calc(10px + 2vmin);
	color: white;
}

.App-link {
	color: #61dafb;
}
.button {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	padding: 15px 25px;
	border: none;
	border-radius: 8px;
	font-family: 'Inter';
	font-weight: 700;
	font-size: 15px;
	color: white;
}
.button:hover{
	cursor: pointer;
}
@keyframes App-logo-spin {
	from {
		transform: rotate(0deg);
	}
	to {
		transform: rotate(360deg);
	}
}

@media(max-width: 600px) {
	.Pages{
		margin-top: 11em;
	}
}