.dashboard__h2{
    color: white;
    width: 90%;
	max-width: 1120px;
    margin: 100px auto 20px auto;
}
.dashboard__section{
    width: 90%;
    height: 870px;
	max-width: 1120px;
    margin: auto;
    display: grid;
    grid-template-columns: 60%  auto;
    
}