@media only screen and (min-width: 2049px) and (max-width: 4480px) {

    /* Estilos para pantallas 4K */
    .contenedor-navBar {
        display: flex;
        justify-content: center;
    }

    .pixeles {
        color: deeppink;
    }
}

@media only screen and (min-width: 1400px) and (max-width: 2048px) {

    /* Estilos para pantallas FHD */
    .contenedor-navBar {
        display: flex;
        height: 168px;
    }

    .navBar {
        color: white;
        width: 1170px;
        height: 39px;
        margin-top: 50px;
        margin-left: 300px;
        margin-right: 375px;
        display: flex;
        justify-content: space-between;
    }

    .navBar a {
        text-decoration: none;
    }

    .navBar-iconosNavBar {
        width: 604px;
        height: 39px;
        left: 566px;
        top: 0px;
        bottom: 0px;
        font-family: 'Inter';
        font-style: normal;
        font-weight: 600;
        font-size: 14px;
        line-height: 20px;
        text-transform: uppercase;
        display: flex;
        flex-direction: row;
    }

    .navBar-iconoLunarLab {
        width: 158px;
        height: 24px;
        margin-top: 7px;
        margin-bottom: 8px;
    }

    .navBarLinks {
        width: 439px;
        height: 22.41px;
        margin-top: 8px;
    }

    .active-link-home {
        color: #262BC1;
        width: 43px;
        height: 20px;
        margin-top: 1.2px;
        margin-bottom: 1.2px;
        margin-left: 46px;
    }

    .active-link-home-no {
        color: #FFFFFF;
        width: 43px;
        height: 20px;
        margin-top: 1.2px;
        margin-bottom: 1.2px;
        margin-left: 46px;
    }


    #navBar-btn-whitepaper {
        width: 91px;
        height: 20px;
        margin-left: 40px;
        margin-top: 1.2px;
        margin-bottom: 1.2px;
        color: #FFFFFF;
    }

    .active-link-home {
        color: #262BC1;
        width: 43px;
        height: 20px;
        margin-top: 1.2px;
        margin-bottom: 1.2px;
        margin-left: 46px;
    }

    #navBar-btn-contacts {
        width: 79px;
        height: 20px;
        margin-left: 40px;
        margin-top: 1.2px;
        margin-bottom: 1.2px;
        color: #FFFFFF;
    }

    #navBar-btn-faq {
        width: 28px;
        height: 20px;
        margin-left: 40px;
        margin-top: 1px;
        margin-bottom: 1.41px;
        margin-right: 32px;
        color: #FFFFFF;
    }

    .navBar-btn-connect {
        align-items: flex-start;
        padding: 7px 25px 8px;
        width: 165px;
        height: 39px;
        margin-left: 0px;
        margin-right: 0px;
        background: #FFFFFF;
        border-radius: 100px;
        border: none;
        color: #4548C8;
        font-family: 'Inter';
        font-style: normal;
        font-weight: 700;
        font-size: 15px;
        line-height: 24px;
    }

    .pixeles {
        color: blue;
    }

}

@media only screen and (min-width: 1200px) and (max-width: 1399px) {

    /* Estilos para pantallas HD */
    .contenedor-navBar {
        display: flex;
        height: 168px;
    }

    .navBar {
        color: white;
        width: 850px;
        height: 39px;
        margin-top: 66px;
        margin-left: 274px;
        margin-right: 274px;
        display: flex;
        justify-content: space-between;
    }

    .navBar a {
        text-decoration: none;
    }

    .navBar-iconosNavBar {
        width: 604px;
        height: 39px;
        left: 566px;
        top: 0px;
        bottom: 0px;
        font-family: 'Inter';
        font-style: normal;
        font-weight: 600;
        font-size: 14px;
        line-height: 20px;
        text-transform: uppercase;
        display: flex;
        flex-direction: row;
    }

    .navBar-iconoLunarLab {
        width: 158px;
        height: 24px;
        margin-top: 7px;
        margin-bottom: 8px;
    }

    .navBarLinks {
        width: 439px;
        height: 22.41px;
        margin-top: 8px;
    }

    .active-link-home {
        color: #262BC1;
        width: 43px;
        height: 20px;
        margin-top: 1.2px;
        margin-bottom: 1.2px;
        margin-left: 46px;
    }

    .active-link-home-no {
        color: #FFFFFF;
        width: 43px;
        height: 20px;
        margin-top: 1.2px;
        margin-bottom: 1.2px;
        margin-left: 46px;
    }

    #navBar-btn-whitepaper {
        width: 91px;
        height: 20px;
        margin-left: 40px;
        margin-top: 1.2px;
        margin-bottom: 1.2px;
        color: #FFFFFF;
    }

    .active-link-home {
        color: #262BC1;
        width: 43px;
        height: 20px;
        margin-top: 1.2px;
        margin-bottom: 1.2px;
        margin-left: 46px;
    }

    #navBar-btn-contacts {
        width: 79px;
        height: 20px;
        margin-left: 40px;
        margin-top: 1.2px;
        margin-bottom: 1.2px;
        color: #FFFFFF;
    }

    #navBar-btn-faq {
        width: 28px;
        height: 20px;
        margin-left: 40px;
        margin-top: 1px;
        margin-bottom: 1.41px;
        margin-right: 32px;
        color: #FFFFFF;
    }

    .navBar-btn-connect {
        align-items: flex-start;
        padding: 7px 25px 8px;
        width: 165px;
        height: 39px;
        margin-left: 0px;
        margin-right: 0px;
        background: #FFFFFF;
        border-radius: 100px;
        border: none;
        color: #4548C8;
        font-family: 'Inter';
        font-style: normal;
        font-weight: 700;
        font-size: 15px;
        line-height: 24px;
    }

    .pixeles {
        color: olivedrab;
    }
}


@media only screen and (min-width: 992px) and (max-width: 1199px) {

    /* Estilos para pantallas medianas */
    .contenedor-navBar {
        display: flex;
        height: 168px;
    }

    .navBar {
        color: white;
        width: 729px;
        height: 39px;
        margin-top: 66px;
        margin-left: 235px;
        margin-right: 235px;
        display: flex;
        justify-content: space-between;
    }

    .navBar a {
        text-decoration: none;
    }

    .navBar-iconosNavBar {
        width: 604px;
        height: 39px;
        left: 566px;
        top: 0px;
        bottom: 0px;
        font-family: 'Inter';
        font-style: normal;
        font-weight: 600;
        font-size: 14px;
        line-height: 20px;
        text-transform: uppercase;
        display: flex;
        flex-direction: row;
    }

    .navBar-iconoLunarLab {
        width: 158px;
        height: 24px;
        margin-top: 7px;
        margin-bottom: 8px;
    }

    .navBarLinks {
        width: 439px;
        height: 22.41px;
        margin-top: 8px;
    }

    .active-link-home {
        color: #262BC1;
        width: 43px;
        height: 20px;
        margin-top: 1.2px;
        margin-bottom: 1.2px;
        margin-left: 46px;
    }

    .active-link-home-no {
        color: #FFFFFF;
        width: 43px;
        height: 20px;
        margin-top: 1.2px;
        margin-bottom: 1.2px;
        margin-left: 46px;
    }


    #navBar-btn-whitepaper {
        width: 91px;
        height: 20px;
        margin-left: 40px;
        margin-top: 1.2px;
        margin-bottom: 1.2px;
        color: #FFFFFF;
    }

    .active-link-home {
        color: #262BC1;
        width: 43px;
        height: 20px;
        margin-top: 1.2px;
        margin-bottom: 1.2px;
        margin-left: 46px;
    }

    #navBar-btn-contacts {
        width: 79px;
        height: 20px;
        margin-left: 40px;
        margin-top: 1.2px;
        margin-bottom: 1.2px;
        color: #FFFFFF;
    }

    #navBar-btn-faq {
        width: 28px;
        height: 20px;
        margin-left: 40px;
        margin-top: 1px;
        margin-bottom: 1.41px;
        margin-right: 32px;
        color: #FFFFFF;
    }

    .navBar-btn-connect {
        align-items: flex-start;
        padding: 7px 25px 8px;
        width: 165px;
        height: 39px;
        margin-left: 0px;
        margin-right: 0px;
        background: #FFFFFF;
        border-radius: 100px;
        border: none;
        color: #4548C8;
        font-family: 'Inter';
        font-style: normal;
        font-weight: 700;
        font-size: 15px;
        line-height: 24px;
    }

    .pixeles {
        color: palegoldenrod;
    }

}

@media only screen and (min-width: 768px) and (max-width: 991px) {

    /* Estilos para pantallas pequeñas */
    .contenedor-navBar {
        display: flex;
        height: 168px;
    }

    .navBar {
        color: white;
        width: 350px;
        height: 39px;
        margin-top: 66px;
        margin-left: 80px;
        margin-right: 80px;
        display: flex;
        justify-content: space-between;
    }

    .navBar a {
        text-decoration: none;
    }

    .navBar-iconosNavBar {
        width: 604px;
        height: 39px;
        left: 566px;
        top: 0px;
        bottom: 0px;
        font-family: 'Inter';
        font-style: normal;
        font-weight: 600;
        font-size: 14px;
        line-height: 20px;
        text-transform: uppercase;
        display: flex;
        flex-direction: row;
    }

    .navBar-iconoLunarLab {
        width: 158px;
        height: 24px;
        margin-top: 7px;
        margin-bottom: 8px;
    }

    .navBarLinks {
        width: 439px;
        height: 22.41px;
        margin-top: 8px;
    }

    .active-link-home {
        color: #262BC1;
        width: 43px;
        height: 20px;
        margin-top: 1.2px;
        margin-bottom: 1.2px;
        margin-left: 46px;
    }

    .active-link-home-no {
        color: #FFFFFF;
        width: 43px;
        height: 20px;
        margin-top: 1.2px;
        margin-bottom: 1.2px;
        margin-left: 46px;
    }


    #navBar-btn-whitepaper {
        width: 91px;
        height: 20px;
        margin-left: 40px;
        margin-top: 1.2px;
        margin-bottom: 1.2px;
        color: #FFFFFF;
    }

    .active-link-home {
        color: #262BC1;
        width: 43px;
        height: 20px;
        margin-top: 1.2px;
        margin-bottom: 1.2px;
        margin-left: 46px;
    }

    #navBar-btn-contacts {
        width: 79px;
        height: 20px;
        margin-left: 40px;
        margin-top: 1.2px;
        margin-bottom: 1.2px;
        color: #FFFFFF;
    }

    #navBar-btn-faq {
        width: 28px;
        height: 20px;
        margin-left: 40px;
        margin-top: 1px;
        margin-bottom: 1.41px;
        margin-right: 32px;
        color: #FFFFFF;
    }

    .navBar-btn-connect {
        align-items: flex-start;
        padding: 7px 25px 8px;
        width: 165px;
        height: 39px;
        margin-left: 0px;
        margin-right: 0px;
        background: #FFFFFF;
        border-radius: 100px;
        border: none;
        color: #4548C8;
        font-family: 'Inter';
        font-style: normal;
        font-weight: 700;
        font-size: 15px;
        line-height: 24px;
    }

    .pixeles {
        color: orange;
    }
}

@media only screen and (min-width: 576px) and (max-width: 767px) {

    /* Estilos para pantallas medianas */
    .contenedor-navBar {
        display: flex;
        justify-content: center;
    }

    .pixeles {
        color: cyan;
    }
}

@media only screen and (min-width: 300px) and (max-width: 575px) {

    /* Estilos para pantallas medianas */
    .contenedor-navBar {
        display: flex;
        justify-content: center;
    }

    .pixeles {
        color: darkcyan;
    }
}