.card {
	width: 370px;
	background-color: var(--black-color);
	border-radius: 15px;
}
.card > h2 {
	font-family: 'Inter';
	font-style: normal;
	font-weight: 300;
	font-size: 16px;
	line-height: 24px;
	text-align: center;
	margin-top: 24px;
	margin-bottom: 33px;
}
.icons {
	list-style: none;
	display: flex;
	flex-direction: row;
	align-items: flex-start;
	padding: 0px 112px 0px 20px;
	gap: 24px;
}
.hWrap {
	position: relative;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding-top: 10px;
	padding-left: 20px;
	padding-right: 20px;
}
.bnb {
	position: absolute;
	height: 28px;
	width: 28px;
	right: 15px;
	bottom: 6px;
}
.logo {
	width: 80px;
	height: 80px;
	border-radius: 9999px;
}
.title {
	font-family: 'Inter';
	font-style: normal;
	font-size: 24px;
	color: var(--white-color);
}
.acronimo {
	width: 28px;
	height: 14px;
	font-family: 'Rubik';
	font-style: normal;
	font-size: 14px;
	color: var(--light-gray-color);
}
.status {
	display: flex;
	flex-direction: row;
	align-items: flex-start;
	padding: 4px 8.34375px 4px 9px;
	width: 76.34px;
	height: 24px;
	background: var(--white-color);
	border-radius: 160px;
	color: var(--ligth-violet-color);
	justify-content: center;
	margin-left: 20px;
}
.description {
	max-height: 45px;
	width: 328px;
	overflow: hidden;
	margin-left: 20px;
}
.statsInfo{
	margin-top: 24px;
}
.info {
	display: flex;
	justify-content: space-between;
	padding-left: 20px;
	padding-right: 20px;
	align-items: center;
	height: 24px;
	margin-bottom: 15px;
}
.tbaInfo {
	display: flex;
	justify-content: space-between;
	padding-left: 20px;
	padding-right: 20px;
	align-items: center;
	height: 17px;
	margin-top: 20px;
}
.stats {
	font-family: 'Inter';
	font-style: normal;
	font-weight: 300;
	font-size: 16px;
}
.valueTotal {
	font-family: 'Inter';
	font-style: normal;
	font-weight: 300;
	font-size: 24px;
	color: var(--violet-color);
}
.valueStartsPrice {
	font-family: 'Inter';
	font-style: normal;
	font-weight: 300;
	font-size: 16px;
	line-height: 24px;
	color: var(--violet-color);
}
.barPercentage {
	display: flex;
	flex-direction: column;
}
.valuePercentage {
	font-family: 'Inter';
	font-style: normal;
	font-weight: 300;
	font-size: 14px;
	color: var(--violet-color);
}
.bar {
	width: calc(100% - 40px);
	margin-left: 20px;
	height: 5px;
	border: none;
	border-radius: 2px;
}
.bar,
::-webkit-progress-bar {
	background-color: #525252;
}
.progressBar {
	display: flex;
	height: 16px;
	align-items: center;
	margin-top: 4px;
	margin-bottom: 4px;
}

.fraction {
	display: flex;
	justify-content: space-between;
	padding-left: 20px;
	padding-right: 20px;
	height: 15px;
	align-items: center;
}
.fraction > h3 {
	font-family: 'Inter';
	font-style: normal;
	font-weight: 300;
	font-size: 14px;
	color: rgba(163, 163, 163, 0.9);
}
.listing {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: flex-end;
	width: 80px;
	height: 44px;
	margin-left: 20px;
	margin-top: 15px;
}
.listing > h4 {
	font-family: 'Inter';
	font-style: normal;
	font-weight: 300;
	font-size: 14px;
	line-height: 24px;
	margin-top: 0px;
	margin-bottom: 0px;
}
.hr {
	width: 85%;
	margin-top: 24px;
}
