.moreincome {
    width: 1170px;
    height: 339px;
    margin-top: 147.59px;
    background-color: #262ABF;
    box-shadow: 0px 4px 24px rgba(85, 85, 176, 0.08);
    border-radius: 35px;
    display: flex;
}