.header {
	grid-column-start: 1;
	grid-column-end: 3;
    margin: 160px auto 60px auto;
	display: grid;
	grid-template-columns: repeat(3, 16.6%) [three] auto;
	grid-template-rows: repeat(3, 76px);
	width: 90%;
	max-width: 1120px;
	max-height: 228px;
	background-color: var(--blue-color);
	color: #fff;
    border-radius: 16px;
}
.header__h1 {
	grid-column-start: 1;
	grid-column-end: 4;
	grid-row-start: 1;
	grid-row-end: 2;
    margin: auto 35px 5px; 
    font-size: 40px;
}
.header__p {
	grid-column-start: 1;
	grid-column-end: 3;
	grid-row-start: 2;
	grid-row-end: 3;
    margin: auto 35px;
    color: rgba(255, 255, 255, 0.5);
}
.header__buttonConnect {
	display: flex;
	align-items: center;
	grid-column-start: 1;
	grid-column-end: 2;
	grid-row-start: 3;
	grid-row-end: 4;
    width: fit-content;
    height: 60%;
    margin-top: 0px;
    margin-left: 35px;
}
.header__buttonHelp {
	grid-column-start: 2;
	grid-column-end: 3;
	grid-row-start: 3;
	grid-row-end: 4;
    width: fit-content;
    height: 60%;
    margin: 0px auto;
    background-color: rgba(255, 255, 255, 0.1);
}
.header__img{
    grid-column-start: 4;
	grid-column-end: 5;
	grid-row-start: 1;
	grid-row-end: 4;
    height: 99.7%;
}
