.contenedor-landing {
    display: flex;
    height: 601px;
}

.contenedor-landing div {
    /* position: absolute; */
    width: 675px;
    height: 237px;
    margin-left: 388px;
    margin-top: 180px;
}

.contenedor-landing div h1 {
    padding: 0px;
    margin: 0px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 48px;
    line-height: 56px;
    align-items: center;
    letter-spacing: 0.4px;
    color: #FFFFFF;
    align-items: center;
}

.contenedor-landing div h1 span {
    color: #7577FD;
}

.contenedor-landing div p {
    width: 404px;
    height: 44px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 22px;
    color: #FFFFFF;
    display: flex;
    letter-spacing: 0.4px;
}

.contenedor-landing button {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 7px 25px 8px;
    width: 147px;
    height: 39px;
    background: #FFFFFF;
    border-radius: 100px;
    border: none;
    margin-top: 30px;
    padding: 0px;
}

.contenedor-landing button p {
    width: 97px;
    height: 24px;
    margin-top: 7px;
    margin-left: 25px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 15px;
    line-height: 24px;
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.16px;
    color: #4548C8;
    cursor: pointer;
}

.contenedor-landing img {
    /* position: absolute; */
    width: 739px;
    height: 601px;
    margin-left: -258px;
    margin-top: -0.5px;
}