.activity {
	grid-column-start: 1;
	grid-column-end: 2;
	width: 100%;
	height: 100%;
	background-color: var(--black-color);
	border-radius: 20px;
	display: flex;
	flex-direction: column;
}
.activity__div {
	max-height: 790px;
	overflow: auto;
	scrollbar-width: thin;
	scrollbar-color: var(--gray-color);
}

.activity__div::-webkit-scrollbar {
	width: 15px;
	height: 5px;
}

.activity__div::-webkit-scrollbar-track-piece {
	background-color: var(--black-color);
}

.activity__div::-webkit-scrollbar-thumb:vertical {
	height: 10px;
	background-color: var(--gray-color);
}
.activity__button {
	width: 90%;
	height: 45px;
	margin: auto;
	background-color: var(--gray-color);
	display: flex;
	gap: 15px;
	margin-bottom: 20px;
}
.activity__hr {
	width: 90%;
	justify-self: center;
}
